{% extends 'base.html.twig' %}

{% block title %}Recipe Of The Month index{% endblock %}

{% block body %}
    <h1>RecipeOfTheMonth index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>Selected</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe_of_the_month in recipe_of_the_months %}
            <tr>
                <td>{{ recipe_of_the_month.id }}</td>
                <td>{{ recipe_of_the_month.title }}</td>
                <td>{{ recipe_of_the_month.image }}</td>
                <td>{{ recipe_of_the_month.description }}</td>
                <td>
                    {% if recipe_of_the_month.selected %}
                        <span>Yes</span> {# or display an icon, e.g., checkmark #}
                    {% else %}
                        <span>No</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_recipe_of_the_month_show', {'id': recipe_of_the_month.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_recipe_of_the_month_edit', {'id': recipe_of_the_month.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recipe_of_the_month_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
